@font-face {
    font-family: "GunnyRewrittenRegular";
    src: url('../fonts/GunnyRewrittenRegular/GunnyRewrittenRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: sway;
}


@font-face {
    font-family: "HattoriHanzoLight";
    src: url('../fonts/HattoriHanzoLight/HattoriHanzoLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: sway;
}

@font-face {
    font-family: "HattoriHanzoLightItalic";
    src: url('../fonts/HattoriHanzoLightItalic/HattoriHanzoLightItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: sway;
}