@import "bourbon";

$mainFont: "HattoriHanzoLight", serif;
$secondFont: "GunnyRewrittenRegular", serif;
$fontSize: rem(18);

$gray: #999;
$grayLight: #cbc6c0;
$grayDark: #6a6a6a;
$white: #fff;
$red: #FF5252;

$button-height: 27px;
$button-width: 35px;


